* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", Georgia;
    font-style: normal;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 30px 20px 20px;
}

.welcome {
    margin: 0 auto;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    gap: 20px;
    padding: 20px;
    background-color: beige;
    justify-content: space-around;
    background-image: url("inside.jpg");
    background-size: 100% 100%;
}

.grid-container > div {
    background-color: beige;
    text-align: center;
    padding: 20px 0;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.30;
    letter-spacing: 0.1px;
}

.ruby, .emerald, .lynx, .beetle, .case, .mask1, .mask2, .mirror, .scepter, .rug {
    border: 2px solid black;
}

img {
    width: 100%;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

footer {
    background-color: #000000;
    color: white;
    padding: 20px 20px;
    text-align: center;
}

.enjoy {
    margin: 0 auto;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}