* {
    box-sizing: border-box;
}

body {
    /*background-color: #59CD90;*/
    background-image: url("../images/library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #a90303;
    font-family: "Cinzel", Georgia;
    font-weight: 400;
}

form {
    line-height: 25px;
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px black;
}

.overlay {
    width: 50%;
    /*min-width: 30%;*/
    margin: 3% auto;
    display: block;
    padding: 2%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    text-align: center;
}

.submit {
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: green;
    color: white;
    width: 10%;
    padding: 10px;
}

button {
    margin-top: 20px;
}

button:hover {
    background-color: blue;
}

@media screen and (max-width:800px) {
    body, .overlay, form {
        height: 100%;
        width: 100%;
    }
    .submit {
        width: 20%;
    }
}